.input__content {
    margin: 24px 0;
}

.input__label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.input__data {
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    mix-blend-mode: normal;
    width: 100%;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
}

.input__color {
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f2f2f2;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.input__color::-webkit-color-swatch{
    border: none;
    border-radius: 10px;
}

.input__color::-moz-color-swatch{
    border: none;
    border-radius: 10px;
}

.input__data:focus {
    outline: none;
}

@media screen and (max-width: 1320px) {
    .input__data--color {
        width: 80%;
    }
    
    .input__data--color::placeholder {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .input__content {
        margin: 16px 0;
    }

    .input__label {
        font-size: 14px;
    }

    .input__data {
        padding: 16px;
        font-size: 12px;
    }

    .input__data--color::placeholder {
        font-size: 9.5px;
    }
}